body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card-header {
    max-width: 100%;  /* Ensures the header does not exceed the card's width */
    overflow: hidden; /* Ensures nothing goes outside the header's bounds */
    display: flex;    /* Utilizes flexbox to center the image */
    justify-content: center;
    align-items: center;
    height: 200px;    /* Sets a fixed height for the header */
}

.card-header img {
    max-width: 100%;  /* Ensures the image does not exceed the header's width */
    max-height: 100%; /* Ensures the image does not exceed the header's height */
    object-fit: contain; /* Ensures the image is scaled to be as large as possible but still be fully visible */
}


.card-body {
    padding: 20px;
}

.card-name {
    margin: 0;
    color: #333;
}

.card-info {
    color: #666;
    line-height: 1.5;
    margin-bottom: 10px;
}

.card-button {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.card-button:hover {
    background: #0056b3;
}
